    <h1>Handlebars speaking:</h1>
    <p>Hello from handlebars!</p>
    <p>{{foo}}, {{bar}}</p>
    <script type="text/javascript">

        const thePs = document.querySelectorAll('p')
        for(let oneP of thePs ){
            console.log(oneP.textContent)
        }
    </script>