<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="data:,">
    <!-- <link rel="stylesheet" href="verified.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password!</title>
    <style>
        *{
            font-family: helvetica;
            font-weight: 500;
            margin: 0;
        }
        body{
            margin: 0 auto;
            padding: 0;
        }
        .mainBody{
            width: 390px;
            height: 50vh;
            /* background: rgb(40,119,158); */
            background: linear-gradient(0deg, #fff 5%, #1a75ff 50%, rgba(9,29,150,1) 100%);    
            border-radius: 15px;
            margin: 0px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
        }

        .instructionSet{
            width: 260px;
            border-radius: 15px;
            border: 1px solid #1a75ff;
            background:#fff;
            padding: 30px;
            margin-bottom: 10px;
        }

        .actualInstruction{
            font-weight: 700;

        }

        #password-reset-form{
            background: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);
            width: 260px;
            border-radius: 15px;
            padding: 30px;
        }

        button, input {
            display: block;
            margin-bottom: 10px;
        }

        #alert {
            display: none;
            color: red;
            margin-bottom: 10px;
        }
        .theLogoItself{
            margin-top: 20px;
            display: block; 
            max-width: 150px; 
            width: 150px; 
            min-width: 48px;
        }
        .formDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .inputDiv{
            margin-left: auto;
            margin-right: auto;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 90%;
        }
        .inputLabel{
            display:inline-block;
            font-weight: 700;
            margin-bottom: 8px;
        }
        
        .actualInputs{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #1a75ff;
            border-radius: 5px;
            height: 2rem;
            margin-bottom: 22px;
            margin-right: 0px;
        }

        .theButton{
            font-weight: 700;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            height: 2rem;
            color: white;
            background: rgba(9,29,150,1);
            border: none;
            border-radius: 5px;
        }
        #alert{
            width: 90%;
            border: 1px red solid;
            height: 4rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            border-radius: 5px;
            color: rgb(61, 61, 61);
            background: rgb(255, 234, 234);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .warningMessage{
            margin-left: auto;
            margin-right: auto;
            max-width: 90%;
        }

        .instructionSetBeta{
            width: 260px;
            border-radius: 15px;
            border: 1px solid #1a75ff;
            background:#fff;
            padding: 30px;
            margin-bottom: 10px;
        }

        .actualInstructionBeta{
            font-weight: 700;

        }

        #password-reset-formBeta{
            background: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);
            width: 260px;
            border-radius: 15px;
            padding: 30px;
        }

        #password-reset-formBeta>p{
            font-weight: 700;

        }
        #password-reset-formBeta>p>a{
            font-weight: 900;
            text-decoration: none;
            color:#1a75ff;
        }
    </style>
</head>
<body>
    <div class="mainBody">
        <img class="theLogoItself" src="https://res.cloudinary.com/da8acjr2s/image/upload/v1664218694/logo_cexfga.png" alt="Logo"  style="">
        <div id="beforeSection">
            <div class="instructionSet">
                <p class="actualInstruction" data-email={{userEmail}} data-token={{userToken}}>Hi again, {{userName}}. In the spaces below, enter your desired new password and click reset password and you'll be back in the market!</p>
            </div> 
            <form  id="password-reset-form">
                <div class="formDiv">
                    <div id="alert"></div>
                    
                    <div class="inputDiv">
                        <label class="inputLabel" for="password">Password</label>
                        <input type="password" class="actualInputs" id="password">
                    </div>
                    
                    <div class="inputDiv">
                        <label class="inputLabel" for="password-verify">Re-type password</label>
                        <input type="password" class="actualInputs" id="password-verify">
                    </div>
                    
                    <button class='theButton' id="theButton" type="submit">Reset password</button>
                </div>
            </form>
        </div>
        <div id="afterSection">
            <div class="instructionSetBeta">
                <p class="actualInstructionBeta">Thanks, {{userEmail}}, for your patience. It paid off! Your password's been reset!</p>
            </div> 
            <div id="password-reset-formBeta"> <p>You can safely close this page and head to <a href="http://www.beiyajioni.shop"><i>Bei Ya Jioni</i></a> to log in with your brand new password!</p></div>
        </div>
    </div>
    <script type="text/javascript" defer>
        // Userfront.init("demo1234");
        
        // 1. Reference the elements on the page
        var passwordResetFormEl = document.getElementById("password-reset-form");
        var alertEl = document.getElementById("alert");
        var passwordEl = document.getElementById("password");
        var passwordVerifyEl = document.getElementById("password-verify");

        var theDeetsTag = document.querySelector('.actualInstruction')
        var afterSection = document.getElementById('afterSection')
        var beforeSection = document.getElementById('beforeSection')

        afterSection.style.display= 'none'
        
        {{!-- console.log(URLSearchParams.getAll()) --}}
        
        setAlert()

        // 2. Reset the user's password
        function formResetPassword(e) {
            // Prevent the form's default behavior
            e.preventDefault();
            // Reset the alert to empty
            setAlert();
            let child = alertEl.lastElementChild;
            while(child){
                alertEl.removeChild(child)
                child = alertEl.lastElementChild;
            }
            // Verify that the passwords match
            var thePassword = passwordEl.value;
            var passwordVerify = passwordVerifyEl.value;
            if (thePassword !== passwordVerify) {
                return setAlert("Passwords keyed must match.");
            }
            // Call the server
            try{
                fetch(`https://www.byjserver.com/forgot/reset`,{
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({
                        email: theDeetsTag.dataset.email,
                        thatToken: theDeetsTag.dataset.token,
                        password: thePassword
                    })
                })
                .then((data)=>{
                    if (data.status === 200) {
                        beforeSection.style.display= 'none'
                        afterSection.style.display = ""
                        return 
                    } 
                }) 
                {{!-- console.log('done')
                if(theStatus === 200) navigate('/home') --}}
            }catch(error){
                console.log(error)
            }
        }
        // Set the alert element to show the message
        function setAlert(message) {
            let theMessage = document.createElement("p")
            theMessage.classList.add('warningMessage')
            theMessage.textContent = message;
            alertEl.appendChild(theMessage);
            alertEl.style.display = message ? "" : "none";
        }

        // 3. Add an event listener for the password reset form submit
        passwordResetFormEl.addEventListener("submit", formResetPassword);

        passwordVerifyEl.addEventListener("change", function(e){
            e.preventDefault();
            var thePassword = passwordEl.value;
            var passwordVerify = passwordVerifyEl.value;
            if (thePassword !== passwordVerify) {
                let child = alertEl.lastElementChild;
                while(child){
                    alertEl.removeChild(child)
                    child = alertEl.lastElementChild;
                }
                document.getElementById('theButton').style.display = "none";
                return setAlert("Passwords entered must match.");
            }else{
                document.getElementById('theButton').style.display = "";
                setAlert()
            }
        })

    </script>
</body>
</html>